assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-releaseSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-walkingSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-releaseSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-damageSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-releaseSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-damageNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-IronSwordattackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-ScepterattackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-WoodenStaffattackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-WoodenStaffattackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-damageNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-attackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-chargingSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-damageNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-releaseNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-walkingNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-weakNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-IronAxeattackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-deadSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-weakNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-deadSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-releaseNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-attackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-IronSwordattackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-WoodenSwordattackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240420tinyTacticsTileset00.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-walkingSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-weakNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-weakSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-IronAxeattackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-WoodenSwordattackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-attackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-attackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-deadNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-attackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-deadNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-weakSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-HatchetattackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-HatchetattackSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-damageSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-releaseNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-walkingNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-weakSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-attackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-chargingSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240429weapons-ScepterattackNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-deadNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-walkingNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-chargingNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-chargingNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427cleric-chargingSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-chargingNE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427fighter-walkingSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-damageSE.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/tinytactics_battlekiti_v1_0/20240427mage-deadSE.png filter=lfs diff=lfs merge=lfs -text
assets/utility_assets/cursor.png filter=lfs diff=lfs merge=lfs -text
assets/utility_assets/iso_color.png filter=lfs diff=lfs merge=lfs -text
assets/map_assets/example-map/iso-64x64-building.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/cleric_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/fighter_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/mage_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/IronSword_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/Scepter_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/WoodenStaff_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/WoodenSword_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/Hatchet_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/unit_assets/spritesheets/IronAxe_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/map_assets/example-map/iso-64x64-outside.png filter=lfs diff=lfs merge=lfs -text
assets/utility_assets filter=lfs diff=lfs merge=lfs -text
assets/utility_assets/cursor-16.png filter=lfs diff=lfs merge=lfs -text
assets/utility_assets/gradient.png filter=lfs diff=lfs merge=lfs -text
assets/utility_assets/iso_color-16.png filter=lfs diff=lfs merge=lfs -text
assets/map_assets/tinytactics-32-map/20240420tinyTacticsTileset00.png filter=lfs diff=lfs merge=lfs -text
assets/map_assets/example-map/iso-64x64-outside.tsx filter=lfs diff=lfs merge=lfs -text
assets/font_assets/tinyRPGFontKit01_v1_2/20240412badgeFont.png filter=lfs diff=lfs merge=lfs -text
assets/font_assets/tinyRPGFontKit01_v1_2/20240412brilliantStrengthFont.png filter=lfs diff=lfs merge=lfs -text
assets/font_assets/tinyRPGFontKit01_v1_2/20240412fineFantasyStrategiesFont.png filter=lfs diff=lfs merge=lfs -text
assets/font_assets/tinyRPGFontKit01_v1_2/20240412fineFantasyStrategiesItalicNumbersFont.png filter=lfs diff=lfs merge=lfs -text
assets/font_assets/tinyRPGFontKit01_v1_2/TinyRPG-BadgeFont.ttf filter=lfs diff=lfs merge=lfs -text
assets/font_assets/tinyRPGFontKit01_v1_2/TinyRPG-BrilliantStrength.ttf filter=lfs diff=lfs merge=lfs -text
assets/font_assets/tinyRPGFontKit01_v1_2/TinyRPG-FineFantasyStrategies.ttf filter=lfs diff=lfs merge=lfs -text
assets/font_assets/tinyRPGFontKit01_v1_2/TinyRPG-FineFantasyStrategiesItalicNumbers.ttf filter=lfs diff=lfs merge=lfs -text
assets/misc_assets/fire_effect_2/explosion_2_spritesheet.png filter=lfs diff=lfs merge=lfs -text
assets/misc_assets/arrow.png filter=lfs diff=lfs merge=lfs -text
assets/sound_assets/jdsherbert-pixel-ui-sfx-pack-free/Stereo/ogg/JDSherbert[[:space:]]-[[:space:]]Pixel[[:space:]]UI[[:space:]]SFX[[:space:]]Pack[[:space:]]-[[:space:]]Popup[[:space:]]Select[[:space:]]2[[:space:]](Sine).ogg filter=lfs diff=lfs merge=lfs -text
assets/sound_assets/jdsherbert-pixel-ui-sfx-pack-free/Stereo/ogg/JDSherbert[[:space:]]-[[:space:]]Pixel[[:space:]]UI[[:space:]]SFX[[:space:]]Pack[[:space:]]-[[:space:]]Error[[:space:]]1[[:space:]](Sine).ogg filter=lfs diff=lfs merge=lfs -text
assets/sound_assets/jdsherbert-pixel-ui-sfx-pack-free/Stereo/ogg/JDSherbert[[:space:]]-[[:space:]]Pixel[[:space:]]UI[[:space:]]SFX[[:space:]]Pack[[:space:]]-[[:space:]]Cursor[[:space:]]2[[:space:]](Sine).ogg filter=lfs diff=lfs merge=lfs -text
assets/sound_assets/jdsherbert-pixel-ui-sfx-pack-free/Stereo/ogg/JDSherbert[[:space:]]-[[:space:]]Pixel[[:space:]]UI[[:space:]]SFX[[:space:]]Pack[[:space:]]-[[:space:]]Select[[:space:]]2[[:space:]](Sine).ogg filter=lfs diff=lfs merge=lfs -text
assets/sound_assets/jdsherbert-pixel-ui-sfx-pack-free/Stereo/ogg/JDSherbert[[:space:]]-[[:space:]]Pixel[[:space:]]UI[[:space:]]SFX[[:space:]]Pack[[:space:]]-[[:space:]]Popup[[:space:]]Close[[:space:]]1[[:space:]](Sine).ogg filter=lfs diff=lfs merge=lfs -text
assets/sound_assets/jdsherbert-pixel-ui-sfx-pack-free/Stereo/ogg/JDSherbert[[:space:]]-[[:space:]]Pixel[[:space:]]UI[[:space:]]SFX[[:space:]]Pack[[:space:]]-[[:space:]]Popup[[:space:]]Open[[:space:]]1[[:space:]](Sine).ogg filter=lfs diff=lfs merge=lfs -text
