repos:
- repo: local
  hooks:
    - id: rustfmt
      name: rustfmt
      description: Check if all files follow the rustfmt style.
      entry: cargo fmt -- --check
      language: system
      types: [rust]
      pass_filenames: false 
    - id: cargo-check
      name: cargo check
      entry: cargo check
      language: system
      pass_filenames: false 
      types: [rust]